.contact-list {
    font-size: 18px;
    text-align: left;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 1024px;
  }
  
  .under-list {
    text-align: right;
    margin-top: 10px;
  }
  
  .contact-list-row {
    padding: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px white solid;
  }
  
  .contact-list-buttons {
    padding: 12px 0;
    margin: 0;
    width: 170px;
    display: flex;
    justify-content: space-between;
  }
  