.contact-editor {
    position: absolute;
    width: 400px;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    background-color: white;
    border: 2px solid #000;
    box-shadow: 1px 1xp;
    padding: 10px;
  }
  
  .contact-form > div {
    width: 100%;
  }
  
  .contact-editor-field {
    margin: 0 50px;
  }
  